<!doctype html>
<html>
  <head>
    <title><%= json.project.title %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" type="text/css" href="style.css">
    <%= t.include("partials/_adHead.html") %>
  </head>
  <body>

    <div class="map-container">
      <div id="map"></div>
    </div>

    <script>
window.ranges = <%= JSON.stringify(csv.ranges) %>;
window.inspections = <%= JSON.stringify(csv.inspections) %>;
    </script>

    <script src="app.js"></script>
    <%= t.include("partials/_adFoot.html") %>
  </body>
</html>
